# DEVELOPMENT
VITE_API_URL=http://localhost:3000
VITE_FRONT_SHELTER_URL=http://localhost:5173
# PRODUCTION
#VITE_FRONT_SHELTER_URL=https://patas-unidas-front-refugios.vercel.app/

# Deployed backend
# VITE_API_URL=https://patas-unidas-back.vercel.app/