.ProfileUser input {
  display: block;
  width: 100%;
  outline: none;
  margin: 10px 0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-card {
  width: 400px;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 3px solid rgba(var(--patas-primary), 0.5);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.link-btn {
  margin-right: auto;
}

.link-btn {
  background: none;
  border: none;
  color: rgb(var(--patas-primary));
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: none;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
