.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(var(--patas-primary), 0.5);
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}

.pfp:hover {
  background-color: rgb(var(--patas-primary));
}

.navbar .dropdown .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.heart-icon {
  display: inline-block;
}

.heart-icon:hover {
  transform: scale(0.92);
  color: rgba(var(--patas-primary), 0.85);
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

*/ .rotate-img:hover {
  transform: rotate(deg) scale(1.05);
  filter: drop-shadow(4px 4px 12px rgba(253, 126, 20, 0.5))
    drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
}

.rotate-letter-P {
  display: inline-block;
  transform: rotate(23deg);
  font-size: 2.4rem;
  position: relative;
  top: 7px;
  right: 1.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.letter-u {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}