.petCard {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
}

.petCardImageContainer {
  flex: 6;
  position: relative;
  overflow: hidden;
}

.petCardImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heart-button {
  position: absolute;
  top: 10px;
  right: 8px;
  background-color: lightgray;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.heart-button:hover {
  background-color: white;
  opacity: 1;
}

.petcard-heart {
  color: red;
}

.pet-Category {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #efedeb;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.card-body {
  flex: 4;
  background-color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.card-title {
  margin-bottom: 0.5rem;
}

.petAge,
.petLocation {
  background-color: #f2ece4;
  color: #a28570;
}

.card-text {
  color: #8f6e56;
}

.btn-PetDetails {
  background-color: #e37036;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn-PetDetails:hover {
  background-color: #de5714;
  color: white;
}
.btn-PetDetails:active {
  transform: translateY(2px);
}

.btn-PetLike {
  color: #e37036;
  border-radius: 10px;
  border-color: #e3ecdf;
}
.btn-PetLike:hover {
  color: #de5714;
  border-color: black !important;
}

@keyframes doublePulse {
  15%,
  30%,
  50%,
  65%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.05);
  }
}

.petCardImageContainer:hover img {
  animation: doublePulse 2s ease-in-out infinite;
}
